body {
  background-color: #ffffff;
  color: #000000;
  font-size: 100%;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

figcaption {
  font-size: 1em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  background: #fff url(images/bloc-logo.png) no-repeat;
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  background: #fff url(images/instagram-pic.jpg) no-repeat;
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:hover {
  color: purple
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
